/*
Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ??
*/

body {
    background-color: var(--blue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 8px;
}

a {
    color: black;
    text-decoration: none;
}

input[type=text]:hover, input[type=password]:hover {
    transition: all 0.2s ease;
    background-color: var(--orange);
}

input[type=text]:focus, input[type=password]:focus {
    transition: all 0.2s ease;
    background-color: var(--pink);
}

input[name=login], input[name=userinput] {
    border: white;
    border-style: solid;
}

input[name=login]:hover, input[name=userinput]:hover {
    transition: all 0.5s ease;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11.09pt;
    color: var(--blue);
    background-color: var(--white);
    border: var(--turquoise);
    border-style: dashed;
}

input[name=register], input[name="register.html"] {
    color: var(--white);
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
}

input[name=register]:hover, input[name="register.html"]:hover {
    color: var(--white);
    color: var(--orange);
    text-decoration: underline dotted;
    text-decoration-thickness: 3px;
}

#redirect-link {
  color: black;
  text-decoration: none;
}

#redirect-link:hover {
  color: white;
  transition: all 0.5s ease;
}

:root {
    --blue: #227c9d;
    --turquoise: #17c3b2;
    --orange: #ffcb77;
    --white: #fef9ef;
    --pink: #fe6d73;
}
