<!-- Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ?? -->
<!-- # COLOR PALETTE: 227c9d,17c3b2,ffcb77,fef9ef,fe6d73  -->

<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Vacation Time!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="card" style="background-color:var(--orange)">
    <div class="card-body">
      <div class="card-title">
        <h1> Welcome to Vacation Time! </h1>
      </div>
      <p class="card-text">
        Vacation Time is a website dedicated to providing suggestions on vacation time, places, and activities based on user preferences.
        Completely randomize your vacation, or add some factors to curate your vacation to you!
        If you feel particularly attached to your vacation, save it for later!
      </p>
    </div>
  </div>
  <br>
  <div class="d-grid gap-2 col-9 mx-auto">
    <a href="/randomize" class="btn" style="background-color:var(--white)">
      Start randomizing your vacation!
    </a>
    <br>
    <a href="/input" class="btn" style="background-color:var(--white)">
      Add some factors!
    </a>
    <br>
    <a href="/view" class="btn" style="background-color:var(--white)">
      View your saved vacations!
    </a>
  </div>
{% endblock %}
