<!-- Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ?? -->
<!-- # COLOR PALETTE: 227c9d,17c3b2,ffcb77,fef9ef,fe6d73  -->

<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Vacation Time!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="card" style="background-color:var(--orange)">
    <div class="card-body">
      <div class="card-title">
        <h1> Welcome to Vacation Time! </h1>
      </div>
      <p class="card-text">
        Vacation Time is a website dedicated to providing suggestions on vacation time, places, and activities based on user preferences.
        The user is first directed to a login page where they can either log in to their account or press the register button to register a new account.
        After logging in, the user is directed to a home page, where they can input and submit information to get a vacation idea. Not inputting any information and submitting would completely randomize the idea given.
        The user can save any vacation ideas they like and view these saved ideas in a separate page.
      </p>
    </div>
  </div>
  <br>
  <div class="d-grid gap-2 col-9 mx-auto">
    <a href="/login" class="btn" style="background-color:var(--white)">
      Start randomizing your vacation!
    </a>
    <br>
    <a href="/view" class="btn" style="background-color:var(--white)">
      View your saved vacations
    </a>
  </div>
{% endblock %}
