<!-- Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ?? -->

<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Vacation Time!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="card" style="background-color:var(--orange)">
      <div class="card-body">
        <div class="card-title">
          <h1> VACATION TIME </h1>
        </div>
        <p class="card-text">
          Vacation Time is a website dedicated to providing suggestions on vacation time, places, and activities based on user preferences.
          The user is first directed to a login page where they can either log in to their account or press the register button to register a new account.
          After logging in, the user is directed to a home page, where they can input and submit information to get a vacation idea. Not inputting any information and submitting would completely randomize the idea given.
          The user can save any vacation ideas they like and view these saved ideas in a separate page.
        </p>
      </div>
    </div>
    <div class="card" style="background-color:var(--white)">
      <div class="card-body">
        <div class="card-title">
          <h1> Factors </h1>
        </div>
        <p class="card-text">
          We randomize your vacation time interests based on five different things:
        </p>
        <div class="list-group list-group-numbered">
          <li class="list-group-item"> COUNTRY </li>
          <li class="list-group-item"> FORECAST </li>
          <li class="list-group-item"> HOLIDAYS </li>
          <li class="list-group-item"> ACTIVITY </li>
          <li class="list-group-item"> BOOKS </li>
        </div>
      </div>
    </div>
    <br>
    <form class="px-4" action = "login" method = "POST">
      <button type="button" class="btn btn-light" type="submit">
        <a href="/login">
          <text>
            Have an account? Login here.
         </text>
       </a>
      </button>
    </form>
    <br>
    <form class="px-4" action = "register" method = "POST">
      <button type="button" class="btn btn-light" type="submit">
        <a href="/register">
          <text>
            Don't have an account? Create one here.
         </text>
       </a>
      </button>
    </form>
  {% endblock %}
