<!-- Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ?? -->

<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Vacation Time!{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="card" style="background-color:var(--orange)">
      <div class="card-body">
        <div class="card-title">
          <h1> VACATION TIME </h1>
        </div>
        <p class="card-text">
          Vacation Time is a website dedicated to providing suggestions on vacation time, places, and activities based on user preferences.
          Hit the randomize button to automatically generate your vacation.
          <br>
          Login to access the ability to customize your vacation with factors and to save a vacation for later viewing.
        </p>
      </div>
    </div>
    <br>
    <div class="d-grid gap-2 col-9 mx-auto">
      <a href="/randomize" class="btn" style="background-color:var(--white)">
        Start randomizing your vacation!
      </a>
    </div>
    <br>
    <div class="card" style="background-color:var(--white)">
      <div class="card-body">
        <div class="card-title">
          <h1> Factors </h1>
        </div>
        <p class="card-text">
          Customize your vacation time interests with four different things:
        </p>
        <div class="list-group list-group-numbered">
          <li class="list-group-item"> LANGUAGE </li>
          <li class="list-group-item"> REGION </li>
          <li class="list-group-item"> PARTY SIZE </li>
          <li class="list-group-item"> BOOK SUBJECT INTERESTS </li>
        </div>
      </div>
    </div>
    <br>
    <form class="px-4" action = "login" method = "POST">
      <button type="button" class="btn btn-light" type="submit">
        <a href="/login">
          <text>
            Have an account? Login here.
         </text>
       </a>
      </button>
    </form>
    <br>
    <form class="px-4" action = "register" method = "POST">
      <button type="button" class="btn btn-light" type="submit">
        <a href="/register">
          <text>
            Don't have an account? Create one here.
         </text>
       </a>
      </button>
    </form>

  {% endblock %}
