<!-- Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ?? -->
<!-- # COLOR PALETTE: 227c9d,17c3b2,ffcb77,fef9ef,fe6d73  -->

<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <form class="px-4" action = "choose" method = "POST">
        <div class="card" style="background-color:var(--orange)">
            <div class="card-body">
                <div class="card-title">
                <h1> Questions! </h1>
                </div>
                <p class="card-text" style="font-size: x-large;">
                    Please enter the answers to these questions below to help us suggest an ideal vacation for you!
                </p>
                <p class="error">
                    To select multiple options in the dropdown menus, you can press Command (on Mac) or Ctrl and click on 
                    the options you are interested in. 
                </p>
            </div>
        </div>
        <div class="card" style="background-color:var(--white)">
            <div class="card-body">
                <div class="card-title">
                <h1> Number of People in Your Party? </h1>
                </div>
                <p class="card-text">
                    <select class="form-select form-select-sm" id="people" name="people">
                        <option value="1">1 Person</option>
                        <option value="2">2 People</option>
                        <option value="3">3 People</option>
                        <option value="4">4 People</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="card" style="background-color:var(--orange)">
            <div class="card-body">
                <div class="card-title">
                <h1> Book Subjects You're Interested In? </h1>
                </div>
                <p class="card-text">
                    <select class="form-select form-select-sm" id="subjects" name="subjects" multiple>
                        <option value="young_adult">Young Adult</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="thriller">Thriller</option>
                        <option value="literary_fiction">Literary Fiction</option>
                        <option value="science_fiction">Science Fiction</option>
                        <option value="romance">Romance</option>
                        <option value="historical">Historical</option>
                        <option value="memoir">Memoir</option>
                        <option value="narrative">Narrative</option>
                        <option value="history">History</option>
                    </select>
                </p>
            </div>
        </div>
        <div class="card" style="background-color:var(--white)">
            <div class="card-body">
                <div class="card-title">
                <h1> Languages You Know? </h1>
                </div>
                <p class="card-text">
                    <select class="form-select form-select-sm" id="languages" name="languages" multiple>
                        {% for x in languages %}
                        <option>{{x}}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
        </div>
        <div class="card" style="background-color:var(--orange)">
            <div class="card-body">
                <div class="card-title">
                <h1> Regions You'd Like to Visit? </h1>
                </div>
                <p class="card-text">
                    {% for r in regionlist %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="regions" id="Region" value="{{r}}">
                        <label class="form-check-label" for="Region">
                            {{r}}
                        </label>
                    </div>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="d-grid gap-2">
            <input class="btn btn-dark" type="submit" name="userinput" value="Submit">
        </div>
    </form>
{% endblock %}
