<!--
Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-14
time spent: ??
-->

<!DOCTYPE html>
<html>
    <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      <title> Register </title>
    </head>
    <body>
      <div class="container-md p-2" style="background-color: var(--white);">
        <h1 class="px-4"> Register your account! </h1>
        <h1 class="px-4 error"> {{ error }} </h1>
      </div>
      <br>
      <div class="container-md p-2" style="background-color: var(--turquoise);">
        <h2 class="px-4"> Register </h2>
        <form class="px-4" action = "register" method = "POST">
          <p> Username must be 5-15 characters long </p>
          <input type="text" class="form-control" name="username" placeholder="Username">
          <br>
          <p> Password must be 7-50 characters long </p>
          <input type="password" class="form-control" name="password" placeholder="Password">
          <br>
          <input type="password" class="form-control" name="confirm-password" placeholder="Confirm Password">
          <br>
          <div class="d-grid gap-2">
            <input class="btn btn-dark" type="submit" name="reg" value="Register">
          </div>
        </form>
      </div>
      <br>
      <div class="container-md">
        <form class="px-4" action = "login" method = "POST">
          <button type="button" class="btn btn-light" type="submit">
            <a href="/login">
              <text> Have an account? Login here.</text>
            </a>
          </button>
        </form>
        <br>
        <form class="px-4">
          <button type="button" class="btn btn-light" type="submit">
            <a href="/">
              <text> Return to homepage.</text>
            </a>
          </button>
        </form>
      </div>
    </body>
</html>
