<!--
Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ??
-->

<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}View{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    {% for v in vacations %}
        <div class="card" style="background-color:var(--orange)">
        <div class="card-body">
            <p class="card-text">
            Country: {{ v[0] }} 
            Forecast: {{ v[1] }}
            Holidays: {{ v[2] }}
            Activity: {{ v[3] }}
            Book: {{ v[4] }}
            </p>
        </div>
        </div>
    {% endfor %}
{% endblock %}