<!--
Wandering Lights | Sophie Liu (Quacky), Ryan Wang (Jack), Jonathan Wu (Loki), Roshani Shrestha (Pete)
SoftDev
P01: ArRESTed Development
2021-12-10
time spent: ??
-->

<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}View{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="card" style="background-color:var(--orange)">
    <div class="card-body">
        <div class="card-title">
        <h1> Saved Vacations! </h1>
        </div>
        <p class="card-text">
        These are all of your saved vacations from most recent to least recent.
        </p>
    </div>
    </div>
    <div class="card" style="background-color:var(--white)">
    <div class="card-body">
        <p class="card-text">
        Country: {{ country }}<br>
        Forecast: saved forecast <br>
        Holidays: saved holidays <br>
        Activity: {{ activity }} <br>
        Book: {{ book }} <br>
        </p>
    </div>
    </div>
    <!-- {% for v in vacations %} -->
    <!-- {% endfor %} -->
{% endblock %}
